@charset "utf-8";
/* CSS Document */

body 	{
		background-color:aqua;
		font-family: Arial, Helvetica, sans-serif;
		font-size: medium;
		color:aquamarine;
		
}


header   {
	width: 900px;
	height: 200px;
	background-color: coral;
	text-align: center;
	margin: auto;
			
}
section 	{
		width: 900px;
		background-image: url('images/2colback.jpg');
		background-repeat: repeat-y;
		overflow: hidden;
		margin: auto;

}

nav {
	float: left;
	widows: 250px;
}

article {
	float: left;
	width: 650px;
	text-align: center;
}

footer {
	text-align: center;
	width: 900px;
	height: 70px;
	background-color: coral;
	margin: auto;
}
.logoleft{
	float: left;
	padding-top: 0px;
	padding-left: 15px;
}

nav a {
	border: 6px inset #8F4E3B;
	background-color: coral;
	line-height: 250%;
	font-weight: bold;
	font-size: 35px;
	color:#DD9A69;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	font-family:sans-serif;		
}
nav a:hover {
	color: antiquewhite;
	border: 2px outset #C88F90;
}
h1 {
	color: aliceblue;
	text-align: right;
	font-size: xx-large;

	
}
p {
	color:blanchedalmond;
}
